.App {
  text-align: center;
}

#navbar {
}

#title {
  padding-top: 5%;
  padding-bottom: 5%;
}

.navbar {
  padding: 0;
}
.navbar-brand {
  font-size: 2rem;
}

.navbar-nav {
  margin-right: 5%;
}

.nav-item {
  font-size: 1.7rem;
  margin: 20px;
}

.coloured-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/*-- Title */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

p {
  font-size: 25px;
}

.big-heading {
  font-family: "Montserrat";
  font-size: 5rem;
  line-height: 1.5;
  color: white;
  text-align: left;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.test-text {
  font-size: 3rem;
  line-height: 1.5;
}

.feature-title {
  font-size: 3rem;
}

.container-fluid {
  padding: 2% 12%;
}

.dl-button {
  margin: 5% 8% 5% 0;
}

.title-img {
  position: absolute;
}

.rotated {
  transform: rotate(30deg);
  margin-left: 16rem;
}

@media (max-width: 1100px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }
}

/*-- Features */

#features {
  position: relative;
  padding: 7% 5%;  
}

.feature-icon {
  font-size: 50px;
  padding: 5%;
  line-height: 2;
  color: #ff4c68;
}

.feature-icon:hover {
  color: rgb(199, 8, 37);
}

/*-- Testimonials */

.test-img {
  width: 10%;
  border-radius: 100%;
  margin: 50px auto 10px;
}

/*-- Press */

#press {
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px;
  width: 10%;
}

.carousel-item {
  padding: 7% 15%;
}

/*-- Pricing */

#pricing {
  padding: 100px;
  
}

.pricing-column {
  padding: 3% 2%;
}

.card {
  height: 100%;
  position: relative;
}

.btn-layout {
 
}


/*-- Call to Action */

#cta {
  text-align: center;
  padding: 9%;
}
.dl-btn {
  margin: 2% 3% 1%;
}

/*-- Footer */

#footer {
  margin: 3%;
}

.ft-icon {
  margin: 15px;
}
